<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
          PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
          "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd"> 
<web-app>
  <servlet>
    <servlet-name>FopHttp095</servlet-name>
    <servlet-class>FopHttp095Servlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FopHttp095</servlet-name>
    <url-pattern>/fop</url-pattern>
  </servlet-mapping>
</web-app>
